@use "sass:math";

@function gridItemSizeInProcent(
  $col-nr,
  $col-nr-of-container: $col-count,
  $design-width-px: $container-with-design,
  $width-of-col-design-px: $width-of-col-design,
  $gap-of-col-design-px: $gap-in-px
) {
  $design-width: strip-unit($design-width-px);
  $col-width-design: strip-unit($width-of-col-design-px);
  $gap-width-design: strip-unit($gap-of-col-design-px);
  $the-width: math.div($design-width, $col-count) * $col-nr-of-container;
  $col-nr: $col-nr;
  @if ($col-nr > 1) {
    $col-nr: $col-nr - 1;
  }

  $result: (math.div(100, $the-width) * $col-width-design) * $col-nr * 1%;
  @return $result;
}

@function gridColSizeInProcent(
  $col-nr,
  $col-nr-of-container: $col-count,
  $design-width-px: $container-with-design,
  $gap-of-col-design-px: $gap-in-px
) {
  $design-width: strip-unit($design-width-px);
  $gap-width-design: strip-unit($gap-of-col-design-px);
  $the-width: math.div($design-width, $col-count) * $col-nr-of-container;
  $col-nr: $col-nr;
  @if ($col-nr > 1) {
    $col-nr: $col-nr - 1;
  }

  $result: (math.div(100, $the-width) * $gap-width-design) * $col-nr * 1%;
  @return $result;
}
