.burger-menu {
  display: flex;
  justify-content: flex-end;
  @include font-size($font-settings-small);
}

.burger-menu__lines {
  width: 20px;
  height: 2px;
  background-color: $color-black;
  position: relative;
  top: 4px;
  margin-right: 5px;

  &::after,
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 2px;
    top: 6px;
    background-color: $color-black;
    right: 0;
  }

  &::before {
    top: 12px;
    width: 15px;
  }
}
