.footer {
  @include flexbox(row, wrap, space-between, flex-start);
  width: 100%;
  flex-shrink: 0;
  background-color: $color-blue-dark;
  padding: $gutter 0;
  color: $color-white;
}

.footer__inner {
  @include flexbox(row, wrap, space-between, flex-start);
  @include full-width($isReset: true);
}

.footer__right {
  @include flexbox();
}

.footer-nav__wrapper {
  @include flexbox();
}

.footer-nav__item {
  margin-left: 30px;
}

.footer-nav__link {
  @include hoverani($color-ocean);
  z-index: 1;
  color: $color-white;

  &:hover,
  &:focus {
    color: $color-white;
  }
}
