.header {
  @include full-width-stretch;
  flex-shrink: 0;
  z-index: 100;
  background-color: $color-white;
  position: fixed;

  .header--small & {
    top: 0;
  }

  .header--small-ani & {
    top: 0;
  }
}

.header__inner {
  @include flexbox();
  @include full-width($isReset: true);
}

.header__item {
  flex: 1 33%;
  margin-top: $gutter;
}

.header__right {
  justify-items: flex-end;
}

.header__center {
  margin-top: 0;
  @include flexbox(row, wrap, center, flex-start);
}

.logo {
  display: inline-block;
}
