.hero {
  height: 100vh;
  @include full-width-stretch;
}

.hero__image {
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  margin-top: $gutter;
}
