$color-black: #000000 !default;
$color-white: #ffffff !default;

$color-blue-dark: #053959 !default; 
$color-blue-medium: #0b688c !default;
$color-blue-soft: #1ec6d9 !default;
$color-ocean: #30f2df !default;
$color-pink: #f2b3b3 !default;

$color-main-text: $color-black !default;
$color-negative-text: $color-white !default;
$color-primary: $color-blue-dark !default;
$color-highlight: $color-pink !default;
