@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Montserrat:wght@400;500;700&display=swap');

// TYPE-FACE SETTINGS
$type-face: 'Montserrat', sans-serif !default;
$type-face-write: 'Lora', serif !default;

$font-weight-regular: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;

// FONT-SIZE SETTINGS
$font-settings-body: (
  null: (
    1.7rem,
    2.8rem,
  ),
) !default;

$font-settings-h1: (
  null: (
    7.5rem,
    8.5rem,
  ),
) !default;

$font-settings-h2: (
  null: (
    3.5rem,
    4rem,
  ),
) !default;

$font-settings-h3: (
  null: (
    2.5rem,
    2.8rem,
  ),
) !default;

$font-settings-h4: (
  null: (
    2rem,
    2.5rem,
  ),
) !default;

$font-settings-small: (
  null: (
    1.5rem,
    2.2rem,
  ),
) !default;

$font-settings-tiles: $font-settings-h4;
