$spacing-xs: 1.5rem;
$spacing-m: 7.5rem;
$spacing-l: 14rem;

/* $gutter: 20px !default;
$max-width: 960px !default;
$content-width: 100% !default;

$headerHeight-mobile: 74px !default;
$headerHeight-tablet: 88px !default;
$headerHeight-desktop: 150px !default;

$spacings-xs: (
  null: 1rem,
  sm: 1rem,
  md: 1rem,
  lg: 1rem,
  xl: 1rem,
) !default;

$spacings-sm: (
  null: 2rem,
  sm: 2rem,
  md: 2rem,
  lg: 2rem,
  xl: 2rem,
) !default;

$spacings-title: (
  null: 3rem,
  sm: 3rem,
  md: 3rem,
  lg: 3rem,
  xl: 3rem,
) !default;

$spacings-md: (
  null: 4rem,
  sm: 4rem,
  md: 4rem,
  lg: 4rem,
  xl: 4rem,
) !default;

$spacings-lg: (
  null: 7rem,
  sm: 7rem,
  md: 7rem,
  lg: 7rem,
  xl: 7rem,
) !default;
 */
